{% extends 'clinic/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Dentist</h1>
  <p class="lead">Welcome to Smile</p>
  <hr class="my-4">
  <p>Please log in or sign up to access the features of the Dental Management System</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/dentistsignup" role="button">Apply</a>
    <a class="btn btn-primary btn-lg" href="/dentistlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}

