<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <style type="text/css">
    .bs-example {
      margin: 0px;
    }

    .navbar-brand img {
      max-width: 50px; /* Set the width to a smaller size */
      height: 50px;     /* Adjust the height automatically to maintain the aspect ratio */
    }
  </style>
</head>

<body>

  <div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background:#88a4d6;">
      <!-- Test using jpg format here -->
      <a href="/" class="navbar-brand">
        <img src="{% static 'images/SmileLogoTooth.png' %}" alt="Smile Logo Tooth">
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
          <a href="/adminclick" class="nav-item nav-link">Admin</a>
          <a href="/dentistclick" class="nav-item nav-link">Dentist</a>
          <a href="/patientclick" class="nav-item nav-link">Patient</a>
        </div>

        <div class="navbar-nav">
          <a href="/aboutus" class="nav-item nav-link">About Us</a>
          <a href="/contactus" class="nav-item nav-link">Contact Us</a>
        </div>
      </div>
    </nav>
  </div>

</body>

</html>

